<p-toolbar>
  <div class="p-toolbar-group-start">
    <h2>Pepostroj</h2>
  </div>
  <div class="p-toolbar-group-end gap-3">
    <p-button [icon]="(appService.currentTheme() == 'theme-mdc-light' ? 'pi pi-sun' : 'pi pi-moon')" (click)="toggleTheme()" styleClass="p-button-rounded p-button-text"></p-button>
    <div>{{authService.userDisplayName()}}</div>
    <p-button *ngIf="!authService.isLoggedIn()" icon="pi pi-sign-in" (click)="authService.googleLogin()"></p-button>
    <p-button *ngIf="authService.isLoggedIn()" icon="pi pi-sign-out" (click)="authService.logout()"></p-button>
  </div>
</p-toolbar>
<div class="content p-3" *ngIf="authService.isLoggedIn(); else notLoggedIn">
  <p-tabMenu [model]="items"></p-tabMenu>
  <router-outlet ></router-outlet>
</div>

<ng-template #notLoggedIn>
  <div class="content p-3">
    <div class="pipi-header">
      <p>
        Pepo,
      </p>
      <p class="pipi">
        Dokud se nepřihlásíš, uvidíš akorát:
      </p>
      <p class="pipi">
        <img src="assets/pipi.svg" width="150px">
      </p>
    </div>
  </div>
</ng-template>
