:host {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.pipi-header {
  text-align: center;
}

.pipi {
  text-align: center;
}
