<p-toolbar>
  <div class="p-toolbar-group-start">
    <h2>Pepostroj</h2>
  </div>
  <div class="p-toolbar-group-end gap-1">
    <div>{{authService.userDisplayName()}}</div>
    <p-button *ngIf="!authService.isLoggedIn()" icon="pi pi-sign-in" (click)="authService.googleLogin()"></p-button>
    <p-button *ngIf="authService.isLoggedIn()" icon="pi pi-sign-out" (click)="authService.logout()"></p-button>
  </div>
</p-toolbar>
<div class="content p-3" *ngIf="authService.isLoggedIn(); else notLoggedIn">
  <p-tabMenu [model]="items"></p-tabMenu>
  <router-outlet ></router-outlet>
</div>

<ng-template #notLoggedIn>
  <div class="content p-3">
    Dokud se nepřihlásíš, uvidíš piču.
  </div>
</ng-template>
